= simple_form_for [@label] do |f|
  = display_actions f, labels_path
  %hr.soften
  = display_errors f

  .labels
    = f.input :name, :label => 'Name'
    = f.input :description, :label => 'Description'

  %hr.soften
  = display_actions f, labels_path