%header.subhead#overview
  %h2=t('ui.content.label')

  .subnav
    %ul.nav.nav-pills
      -if can?(:update, @label)
        %li
          = link_to t('ui.actions.edit'), edit_label_path(@label)
      -if can?(:destroy, @label)
        %li
          = link_to t('ui.actions.delete'), label_path(@label), class: 'label label-important', confirm: t('ui.actions.confirm'), method: :delete
      -if can?(:read, @label)
        %li
          = link_to t('ui.actions.view_all'), labels_path

%section.well
  %p
  = display_show_item(t('ui.content.name'), @label.name)
  = display_show_item(t('ui.content.description'), @label.description)
  = display_show_item(t('ui.content.created'), @label.created_at.to_s(:long_ordinal))
  = display_show_item(t('ui.content.updated'), @label.updated_at.to_s(:long_ordinal))
