= simple_form_for [@inbox_file] do |f|
  = display_actions f, inbox_files_url
  %hr.soften
  = display_errors f

  .files
    - if can?(:edit, @inbox_file)
      = f.input :description, label: t('ui.content.description') ,as: :string
      = f.input :archived, label: t('ui.content.archived')
      = f.association :labels, collection: @labels_for_menu, label: t('ui.sidebar.labels'),  input_html: {:class => 'span5'}

  %hr.soften
  = display_actions f, inbox_files_url
