= simple_form_for [@inbox_file] do |f|
  = display_actions f, inbox_files_url
  %hr.soften
  = display_errors f

  .files
    - if can?(:edit, @inbox_file)
      = f.input :description, :label => 'description' ,:as => :string
      = f.input :archived
  %hr.soften
  = display_actions f, inbox_files_url
