= simple_form_for [@inbox_file] do |f|
  = display_actions f, inbox_files_url
  %hr.soften
  = display_errors f

  .files
    - if can?(:edit, @inbox_file)
      = f.input :name, :label => 'name'
      = f.input :date
      = f.input :description, :label => 'description' ,:as => :string
      = f.input :url
      = f.input :archived
      = f.association :filters, :collection =>current_user.filters
      = f.association :labels, :collection =>current_user.labels
  %hr.soften
  = display_actions f, inbox_files_url
