%header.subhead#overview
#notice
%section
  = paginate @inbox_files
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th= check_box_tag('check_all', '', false)
        %th= t('ui.content.file_name')
        %th= t('ui.content.record_date')
        %th= t('ui.content.description')
        %th= t('ui.content.actions')
    %tbody
      - @inbox_files.each do |inbox_file|
        %tr(class="#{cycle('odd', 'even')}")
          %td.checkbox_column= check_box_tag "cb#{inbox_file.id}", "#{inbox_file.id}", false
          %td.name= render partial: 'name-td', locals: {inbox_file: inbox_file}
          %td= inbox_file.kmedia_file.date
          %td.editable
            %a{:id =>"description#{inbox_file.id}", "data-original-title" => "Enter description", "data-name"=>"description", "data-pk" => inbox_file.id, "data-type" => "text", "data-url" => description_inbox_file_url(inbox_file), :href => "#"}= inbox_file.description
          - if is_gmail_user
          %td= link_to t('ui.actions.open_in_google'), open_in_google_docs_document_path(inbox_file)
          %td= link_to t('ui.actions.show'), inbox_file_path(inbox_file)
          %td= link_to t('ui.actions.edit'), edit_inbox_file_path(inbox_file)
          %td= button_to t('ui.actions.archive'), archive_inbox_file_path(inbox_file, :archived => true), :class => "btn btn-small", :method => :put
          %td= link_to t('ui.actions.delete'), inbox_file_path(inbox_file), :confirm => 'Are you sure?', :method => :delete, :class => 'btn-small btn-danger'


