%header.subhead#overview

%section
  = paginate @files

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th= 'File Name'
        %th= 'Record Date'
        %th= 'Description'
    %tbody
      - @files.each do |file|
        %tr(class="#{cycle('odd', 'even')}")
          %td= file.name
          %td= file.date
          %td= file.description