%header.subhead#overview
  %h2
    =t('ui.content.file')
  .subnav
    %ul.nav.nav-pills
      -if can?(:update, @inbox_file)
        %li
          = link_to t('ui.actions.edit'), edit_inbox_file_path(@inbox_file)
      -if can?(:destroy, @inbox_file)
        %li
          = link_to t('ui.actions.delete'), inbox_file_path(@inbox_file), :class => 'label label-important', :confirm => t('ui.actions.confirm'), :method => :delete

%section.well
  %p
  = display_show_item('Name', @inbox_file.kmedia_file.name)
  = display_show_item('Date', @inbox_file.kmedia_file.date)
  = display_show_item('Description', @inbox_file.description)
  = display_show_item('Url', @inbox_file.kmedia_file.url)
  = display_show_item('Archived', @inbox_file.archived)
  = display_show_item('Created', @inbox_file.created_at.to_s(:long_ordinal))
  = display_show_item('Updated', @inbox_file.updated_at.to_s(:long_ordinal))
