= simple_form_for [@filter] do |f|
  = display_actions f, @filter.id ? filter_url(@filter) :filters_url
  %hr.soften
  = display_errors f

  .filters
    = f.input :name, :label => 'Name'
    = f.input :text, :label => 'Text',:as => :string
    = f.input :from_date,:as => :date
    = f.input :to_date,:as => :date
    = f.association :content_types, :collection => @content_types, :label => 'Content Type', :prompt => '-- Please select content type --', :input_html => {:class => 'span5'}
    = f.association :media_types, :collection => @media_types, :label => 'Media Type', :prompt => '-- Please select media type --', :input_html => {:class => 'span5'}
    = f.association :languages, :collection => @languages, :label => 'Language', :prompt => '-- Please select language --', :input_html => {:class => 'span5'}


