= simple_form_for [@filter] do |f|
  = display_actions_filter_form f, @filter.id ? filter_url(@filter) :filters_url
  %hr.soften
  = display_errors f

  .filters#filters{value: @filter.id}
    = f.input :name, :label => 'Name'
    = f.input :text, :label => 'Text',:as => :string
    = f.input :from_date,:as => :date
    = f.input :to_date,:as => :date
    = f.association :content_types, :collection => @content_types, :label => 'Content Type', :prompt => '-- Please select content type --', :input_html => {:class => 'span5'}
    = f.association :media_types, :collection => @media_types, :label => 'Media Type', :prompt => '-- Please select media type --', :input_html => {:class => 'span5'}
    = f.association :languages, :collection => @languages, :label => 'Language', :prompt => '-- Please select language --', :input_html => {:class => 'span5'}
    %input#selected_catalogs{:name => "selected_catalogs", :type => "hidden", :value => ""}
    #catalogs


:javascript
  function get_selected_catalogs(button) {
    var checked_ids = [];
    $("#catalogs").jstree("get_checked",null,false).each(function(){
      checked_ids.push(this.id);
    });
    document.getElementById('selected_catalogs').value = checked_ids.join(",");
  }

