%header.subhead#overview
  %h2 Filters
  %p
    = link_to "New Filter", new_filter_path, :class => 'btn btn-success btn-large pull-right'

%section
  = paginate @filters

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th= "Name"
        %th= 'Text'
        %th= 'From_date'
        %th= 'To_date'
        %th= 'Actions'
    %tbody
      - @filters.each do |filter|
        %tr(class="#{cycle('odd', 'even')}")
          %td.small= filter.name
          %td.small= filter.text
          %td.small= filter.from_date.to_date
          %td.small= filter.to_date.to_date
          -if can?(:read, filter)
            %td
              = link_to 'Show', [ filter]
          -if can?(:update, filter)
            %td
              = link_to 'Edit', edit_filter_path(filter)
          -if can?(:destroy, filter)
            %td
              = link_to 'Destroy', filter_path(filter), :confirm => 'Are you sure?', :method => :delete, :class => 'btn-small btn-danger'
